/* Add a black background color to the top navigation */
.topnav {
    background-color: #11172b;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #e01933;
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #e01933;
    color: white;
}

.topnav a.split {
    float: left;
    background-color: #e01933;
    color: white;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #11172b;
    color: white;
    text-align: center;
}